
@{
    ViewData["Title"] = "Share";
}
@model SpotiBook.Models.Post

<div class="row">
    <div class="col">
        <h2>Share</h2>
        <form asp-action="Share" method="post">
            <input type="hidden" name="postId" value="@Model.Id"/>
            <div class="form-group">
                <label for="description" class="control-label"></label>
                <textarea name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

