@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">SpotiBook</h1>
            <p class="lead">Welcome to SpotiBook! A social media where you can share all the rocking jams you enjoy!</p>
            <hr class="my-4">
            <p class="lead">
                <span class="pr-4">New to SpotiBook?</span><a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Register</a>
            </p>
            <p class="lead">
                <span class="pr-4">Already a member?</span><a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
            </p>
        </div>
    </div>
</div>